////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Imports ////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Std Class Overrides ////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer {
  float: right !important;
}

// https://stackoverflow.com/a/58290951/11098871
// for viewport scrolling
// the root html element must be scrollable for js.window.scrollTo() to work.
html {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

body {
  width: 100%;
  height: auto;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Custom Classes /////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-border-1 {
  border-bottom: 1px solid black;
}

.has-border-2 {
  border: 1px solid black;
}

.has-border-3 {
  border-right: 1px dotted black;
}

.void-img {
  background: url("../images/noise1.jpg");
  content: "";
  height: 100%;
  width: 100%;
}

.categories {
  font-family: "Libre Barcode 39 Text", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
  position: relative;
  top: 20px;
}

.pop {
  position: relative;
  background-color: #eef3fc;
}

.desc-open {
  background-color: white;
  border-width: 1px;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Variable Overrides ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// navbar
$navbar-item-img-max-height: 4.00rem;
$navbar-height: 4.00rem;

// fonts
$family-primary: "Press Start 2P", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$family-secondary: "Anton", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Import ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "node_modules/bulma/bulma";

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Extensions ///////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.day-cell {
  position: relative;
  right: 9px;
  bottom: 11px;
}

.day-cell {
  @include until($tablet) {
    font-size: 0.50rem;
  }
  @include from($tablet) {
    font-size: 0.75rem;
  }
}

.hero {
  background: url("../images/noise1.jpg");
  content: "";
  height: 100%;
  width: 100%;
}
